*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    align-items: center;
    font-size: 14px;
    background-color: white;
    height: 60px; 
    width: 100%;
    position: fixed;
}

.header__logo{
    color: #335576;
    text-decoration: none;
}

.nav__list{
    display: flex;
    list-style: none;
    font-weight: 700;
}

.nav__list--link{
    text-decoration: none;
    color: black;
}

.nav__list--item{
    font-size: 14px;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
}

.nav__list--current{
    border-bottom: 2px solid #DB7A4E;
}


.footer{
    background-color: #FEFAF5;
    color: #335576;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.footer__header{
    margin-bottom: 20px;
}

.footer__hours{
    width: 30%;
    margin: 0 80px;
}

.footer__schedule{
    display: flex;
    justify-content: space-between;
}

.footer__subtitle{
    color: #DB7A4E;
    margin-bottom: 10px;
    font-size: 0.625rem;
}

.footer__text{
    font-size: 0.875rem;
}

.footer__social--logo{
    height: 30px;
    margin: 10px 20px 0 0;
}